body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 600px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: rebeccapurple;
}
form {
  text-align: center;
}
button {
  padding: 10px 20px;
  background-color: #1e973a;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #10461c;
}
